Body{
    background-color:ghostwhite;
}

.menu{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 30px;
    background-color: darkgray;
}
h2{
    position: absolute;
    left: 2%;
    top: -20px;
}

.Thema{
    width: 400px;
    height: 100px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 45%;
    left:38%;
    background-color: black;
}
h1{
    color: goldenrod;
    position: relative;
    top: -25px;
    font-size:50px;
}
.disign{
    background-color: goldenrod;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 70px;
}
.goldline{
    height: 250px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: -250px;
    left: 200px;
    z-index: -1;
}
.Gold{
    font: optional;
    width: 400px;
    height: 200px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 5%;
    left:38%;
    background-color: black;
}
.box{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 390px;
    height: 120px;
    position:absolute;
    text-align: center;
    top: 33%;
    left: 5px;
    border-radius: 4px;
    background-color: white;
    font-size: 25px;
}
.Info{
    font: optional;
    width: 400px;
    height: 200px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 5%;
    left:70%;
    background-color: black;
}
.infoline{
    height: 250px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 170px;
    left: 985px;
    rotate: 37deg;
    z-index: -1;
}
.karten{
    font: optional;
    width: 400px;
    height: 200px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 37%;
    left:70%;
    background-color: black;
}
.box1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 390px;
    height: 120px;
    position:absolute;
    text-align: center;
    top: 33%;
    left: 5px;
    border-radius: 4px;
    background-color: white;
    font-size: 40px;
}
.kartenline{
    height: 250px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 36%;
    left: 1000px;
    rotate: 90deg;
    z-index: -1;
}
.Ausbildung{
    font: optional;
    width: 400px;
    height: 200px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 5%;
    left:6%;
    background-color: black;
}
.box2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 390px;
    height: 120px;
    position:absolute;
    text-align: center;
    top: 33%;
    left: 5px;
    border-radius: 4px;
    background-color: white;
    font-size: 32px;
}
.Ausbildungline{
    height: 250px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 170px;
    left: 525px;
    rotate: -37deg;
    z-index: -1;
}
.aktien{
    font: optional;
    width: 400px;
    height: 200px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 37%;
    left:6%;
    background-color: black;
}
.box3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 390px;
    height: 120px;
    position:absolute;
    text-align: center;
    top: 33%;
    left: 5px;
    border-radius: 4px;
    background-color: white;
    font-size: 32px;
}
.aktienline{
    height: 250px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 36%;
    left: 600px;
    rotate: 90deg;
    z-index: -1;
}
.ratschlag{
    font: optional;
    width: 400px;
    height: 200px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 70%;
    left:6%;
    background-color: black;
}
.ratschlagline{
    height: 300px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 525px;
    rotate: 37deg;
    z-index: -1;
}
.kridit{
    font: optional;
    width: 400px;
    height: 233px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 66%;
    left:38%;
    background-color: black;
}
.box4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 390px;
    height: 145px;
    position:absolute;
    text-align: center;
    top: 33%;
    left: 5px;
    border-radius: 4px;
    background-color: white;
    font-size: 20px;
}
.kriditline{
    height: 250px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 350px;
    left: 761px;
    z-index: -1;
}
.abteilunge{
    font: optional;
    width: 400px;
    height: 200px;
    position:absolute;
    text-align: center;
    border-radius: 4px;
    top: 70%;
    left:70%;
    background-color: black;
}
.abteilungeline{
    height: 300px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 990px;
    rotate: -37deg;
    z-index: -1;
}
